
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}


<form method="post" action="~/Users/Login">
    <p>Login:</p>
    <input type="email" name="login"/>
    <p>Password:</p>
    <input type="password" name="password" />
    <input type="submit" value="Enter" />
</form>
<a href="Registration">Регистрация</a>
