@{
    Layout = "_Layout";
}

<form method="post" action="~/Users/Registrate">
    <p>Имя</p>
    <input type="text" name="name" />
    <p>Адрес электронной почты</p>
    <input type="email" name="email" />
    <p>Пароль</p>
    <input type="password" name="password" />
    <input type="submit" value="Зарегистрироваться" />
</form>
